/* -------------------------- Membre de l'équipe --------------------------  */
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
  width: 90vw;
  max-width: 1400px;
  margin: 5vh auto 0 auto;
  min-height: 80vh;
}

.team-member {
  position: relative;
  aspect-ratio: 1/1;
  perspective: 600px;
  overflow: hidden;
  background: #050d1e;
  border: 1px solid #fff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.team-face {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  backface-visibility: hidden;
  transition: opacity 0.5s;
  font-family: "Figtree", sans-serif;
  font-size: 1.2em;
  padding: 10%;
}
.team-photo {
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 1;
  border: 0;
  transition: opacity 0.5s;
  background-color: #fff;
}
.team-info {
  position: relative;
  background: none; /* Pas d'overlay noir */
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10%;
}
.team-name {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
  letter-spacing: 0.02em;
}
.team-role {
  font-size: 1em;
  opacity: 0.85;
}
.team-portfolio {
  font-size: 1em;
  opacity: 0.85;
  text-align: center;
}

.team-member.show-photo .team-photo {
  opacity: 1;
}
.team-member.show-photo .team-info {
  opacity: 0;
}
.team-member.show-info .team-photo {
  opacity: 0;
}
.team-member.show-info .team-info {
  opacity: 1;
}

.team-member.show-photo:hover .team-photo {
  opacity: 0;
}
.team-member.show-photo:hover .team-info {
  opacity: 1;
}
.team-member.show-info:hover .team-photo {
  opacity: 0;
}
.team-member.show-info:hover .team-info {
  opacity: 1;
}

.team-portfolio {
  position: absolute;
  right: 25%;
  bottom: 25%;
  display: inline-block;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  opacity: 0.85;
  text-align: right;
  margin: 1em auto;
  left: auto;
  transform: none;
}

.team-portfolio::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  margin: 0; /* retire le centrage */
}

.team-member:hover .team-portfolio::after {
  width: 100%; /* underline juste sous le texte */
}

.team-member:hover .team-portfolio {
  color: #ddd;
}
