/* ---------------------------------- LOADING ----------------------------------------------*/
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Utiliser vh pour la hauteur */
  background-color: #050d1e; /* Ajoute un fond noir semi-transparent pour assombrir */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; /* Pour que le texte soit visible */
  overflow: hidden; /* Important pour masquer le défilement horizontal */
}
.loading-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}
.loading-screen .loading-items {
  position: relative; /* Ajout de position relative */
  width: 100%;
  height: 100%;
}
.loading-screen video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Place la vidéo derrière le contenu */
}
.loading-titre {
  font-family: "Libre Baskerville", serif;
  font-size: 2em !important;
  font-weight: 400;
}
.loading-items {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;  
}

.loading-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Centre verticalement */
  align-items: center;       /* Centre horizontalement */
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0; left: 0;
}
.loading-item.active {
  opacity: 1; /* Visible lorsqu'il est actif */
}
/* Style pour l'écran de chargement */
.loading-content {
  font-size: 1em;
  width: 70%;
  height: 10%;
  text-align: center;
  margin-bottom: 20px; /* Ajoute une marge en bas du texte */
}

.loading-item#loading-item1 .loading-content {
  text-align: left; /* Aligne le texte à gauche */
  font-size: 1em; /* Ajuste la taille de la police */
   margin-bottom: 0; /* Ajoute un espace en bas du texte */
}

.loading-item #loading-item1 .loading-text {
  text-align: left;
  font-size: 2em; /* Ajuste la taille de la police */
  margin-bottom: 20px; /* Ajoute un espace en bas du texte */
}

.loading-item#loading-item1 {
  text-align: left; /* Aligne le texte à gauche */
  font-size: 1.5em; /* Ajuste la taille de la police */
  margin-bottom: 10px; /* Réduit l'espace en bas du texte */
  justify-content: center; /* Aligne le contenu en haut */
  align-items: center; /* Aligne le contenu à gauche */
}

.loading-item #loading-item3 .loading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.universites {
  display: flex;
  justify-content: space-evenly; /* Espace entre les images */
  width: 100%;
  margin-top: 10px; /* Ajoute un espace au-dessus des images */
  align-items: center;
}
.universites img {
  height: 150px; /* Ajuste la hauteur des images */
  width: auto; /* Garde les proportions */
  margin: 0 20px; /* Ajoute un espace entre les images */
}

.universites > img:nth-child(2) {
  height: 100px; /* Réduit la hauteur du second logo */
  width: auto; /* Garde les proportions */
  margin: 0;
}


/* -------------------- ENTER ---------------------------------------- */
.loading-button {
  width: 100%;
  font-size: 0.5em;
  display: flex;
  justify-content: center;
}
#enter-button {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Figtree", sans-serif;
  font-size: 1.5em;
  color: white;
  margin-top: 20px; /* Ajoute un espace au-dessus du bouton */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative; /* Ajout de position relative */
  transition: color 0.3s ease; /* Transition pour la couleur */
}

#enter-button::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Ajuste la position du soulignement */
  left: 0;
  width: 0; /* Initialise la largeur à 0 */
  height: 2px; /* Épaisseur du soulignement */
  background-color: #ddd; /* Couleur du soulignement */
  transition: width 0.5s ease; /* Animation de largeur */
  z-index: -1; /* Pour que le soulignement passe sous le texte */
}

#enter-button:hover {
  color: #ddd; /* Légère modification de la couleur au survol */
}

#enter-button:hover::after {
  width: 100%; /* Soulignement complet au survol */
}