@font-face {
  font-family: "Figtree";
  src:url("../font/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  src:url("../font/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src:url("../font/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src:url("../font/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

html{
  overflow-x:hidden;
}
body{
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x: hidden;
}

h1{
  font-family: "Libre Baskerville", serif;
  font-size:4em;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.container{
  width:100%;
  height:100vh;
  overflow-y:scroll;
  overflow-x:hidden;
  scroll-snap-type:y mandatory;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Permet le défilement vertical */
  scrollbar-width: none; /* Cacher la barre de défilement dans Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Cacher la barre de défilement dans Chrome, Edge et Safari */
}

.slides {
  width: 100vw; /* La largeur de la fenêtre */
  height: 100vh; /* La hauteur de la fenêtre */
  position: relative; /* Nécessaire pour positionner les vidéos et autres éléments */
  overflow: hidden; /* Empêche les débordements */
  scroll-snap-align: start; /* Aligne chaque diapositive au début de la fenêtre lors du défilement */
  margin: 0;
  padding: 0;
}

.slides > video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que la vidéo remplit le conteneur sans déborder */
  position: absolute; /* Positionne la vidéo pour qu'elle couvre tout le conteneur */
  top: 0;
  left: 0;
  z-index: -1; /* Place la vidéo derrière les autres éléments */
  transition: transform 0.5s ease, filter 0.5s ease;
}

.slides > video.flou {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.3rem);
  transform: scale(1.05); /* Agrandit légèrement la vidéo */
  
}
h1{
  font-size: 5em;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  transition: top 1.5s ease-in-out, 
              left 1.5s ease-in-out,
              font-size 1.5s ease-in-out,
              opacity 1.5s ease-in-out;
}
h2{
  font-size:5em;
  font-family: "Libre Baskerville", serif;  
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  transition: top 1.5s ease-in-out, 
              left 1.5s ease-in-out,
              font-size 1.5s ease-in-out,
              opacity 1.5s ease-in-out;
  cursor: pointer;
}
h2:hover {
  
  color: #ddd; /* Légère modification de la couleur au survol */
 transition: color 0.3s ease; /* Transition pour la couleur */
  text-decoration: none; /* Pas de soulignement par défaut */
}
h3 {
  font-family: "Figtree";
  font-size: 1.5em;
  font-weight: 400;
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s ease; /* Transition pour la couleur */
  text-decoration: none; /* Pas de soulignement par défaut */
  position:relative; /* Ajout de position relative */
  display: inline-block; /* Important pour que la largeur s'adapte au contenu */
}

h3::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Ajuste la position du soulignement */
  left: 0;
  width: 0; /* Initialise la largeur à 0 */
  height: 2px; /* Épaisseur du soulignement */
  background-color: #ddd; /* Couleur du soulignement */
  transition: width 0.5s ease; /* Animation de largeur */
  z-index: -1; /* Pour que le soulignement passe sous le texte */
}

h3:hover {
  color: #ddd; /* Légère modification de la couleur au survol */
}

h3:hover::after {
  width: 100%; /* Soulignement complet au survol */
}
.slides h2.move {
/*    top: 20%;*/
    left:30%;
    font-size:4em;
}


.sliderButton {
  position: relative;
  margin: 0;
  z-index: 10; /* Place les boutons au-dessus des autres éléments */
}

.info{
  position: absolute;
  color: white;
  top: 30%;
  left:60%;
  right: 20%;
  z-index: 10;
  display:none;
  font-family : "figtree";
  font-size: 1.2em;
}

.visionner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    z-index: 9999;
    display: none; /* Masque par défaut */
}

.visionner video{
  width:auto;
  height:80vh;
  max-width: 100%; /* Empêche la vidéo de dépasser la largeur de l'écran */
  max-height: 100%; /* Empêche la vidéo de dépasser la hauteur de l'écran */
  align-self: center; /* Centre la vidéo dans Flexbox */
  margin: auto; /* Ajoute une marge automatique pour garantir le centrage */
    position: relative; /* Permet de centrer la vidéo */
  top: auto;
  left: auto;
}


.close-visionner {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.point1, .point2{
  width:15px;
  height:15px;
  border-radius:100%;
  border:2px solid white ;
  transition: background-color 0.3s ease-in-out
}

.full{
  background-color:white;
}

.empty{
  background-color:none;
  cursor: pointer;
}

.slides >.sliderButton{
  width:5%;
  min-width:70px;
  height:auto;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  display:flex;
  justify-content:space-between;
  
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Aligne les éléments à droite */
  padding: 10px 20px;
  z-index: 1000;
  background: none; /* Pas de fond */
}

.header-controls {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 30px; /* Espacement entre le bouton et le menu burger */
  z-index: 1000;
}

#languageToggle {
  color: #fff; /* Texte blanc par défaut */
  border: none; /* Supprime les contours */
  background: none; /* Supprime le fond */
  padding: 5px 10px; /* Taille du bouton */
  font-size: 20px; /* Augmente légèrement la taille du texte */
  cursor: pointer;
  position: relative; /* Ajout de position relative */
  transition: color 0.3s ease; /* Transition uniquement sur la couleur */
}

#languageToggle::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Ajuste la position du soulignement */
  left: 0;
  width: 0; /* Initialise la largeur à 0 */
  height: 2px; /* Épaisseur du soulignement */
  background-color: #ddd; /* Couleur du soulignement */
  transition: width 0.5s ease; /* Animation de largeur */
  z-index: -1; /* Pour que le soulignement passe sous le texte */
}

#languageToggle:hover {
  color: #ddd; /* Légère modification de la couleur au survol */
}

#languageToggle:hover::after {
  width: 100%; /* Soulignement complet au survol */
}

.menu-burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 3px;
  transition: transform 0.3s ease; /* Ajoute une transition pour l'ensemble du conteneur */
}

.menu-burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: width 0.3s ease, background-color 0.3s ease; /* Transitions individuelles */
  transform-origin: right; /* Important pour l'animation depuis la gauche */
}

.menu-burger:hover span {
  transform: color (#ddd);}

.menu-burger:hover span:nth-child(1) {
  width: 100%; /* Première barre à sa taille originale */
}

.menu-burger:hover span:nth-child(2) {
  width: 90%; /* Deuxième barre un peu plus petite */
}

.menu-burger:hover span:nth-child(3) {
  width: 80%; /* Troisième barre encore plus petite */
}

.scroll-down-arrow {
    position: sticky;
    top: 80vh; /* Ajuste la position verticale */
    left: 50.7%;
    transform: translateX(-50%); /* Ajout pour centrer horizontalement */
    margin-left: 0; /* Suppression de la marge */
    width: 40px;
    height: 70px;
    text-align: center;
    z-index: 10;
}

.scroll-down-arrow div {
    position: absolute;
    top: 50%; /* Modification ici */
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translate(-50%, -50%) rotate(-45deg); /* Modification ici */
    animation: scroll-down 2s infinite;
    opacity: 0;
}

.scroll-down-arrow span:nth-child(2) {
    top: 40%;
    animation-delay: .2s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 70%;
        opacity: 0;
    }
}
/* LOADING  */
/* Style pour l'écran de chargement */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2em;
    width: 100%;
    height: 100vh; /* Utiliser vh pour la hauteur */
    background-image: url("../img/bgopening.jpeg"); /* Remplace la couleur par l'image */
    background-size: cover; /* Assure que l'image couvre tout l'écran */
    background-position: center; /* Centre l'image */
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond noir semi-transparent pour assombrir */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Pour que le texte soit visible */
    overflow: hidden; /* Important pour masquer le défilement horizontal */
    /* filter: blur(5px); /* Retire l'effet de flou de l'écran de chargement */
}

.loading-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bgopening.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Applique le flou à la pseudo-élément */
    z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

.loading-screen .loading-items {
    position: relative; /* Ajout de position relative */
    width: 100%;
    height: 100%;
}

.loading-item {
    position: absolute; /* Positionnement absolu pour le fondu */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    opacity: 0; /* Initialement invisible */
    transition: opacity 0.5s ease-in-out; /* Transition pour le fondu */
}

.loading-item.active {
    opacity: 1; /* Visible lorsqu'il est actif */
}

#enter-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
}

.hidden {
    display: none;
}

/* Style pour l'écran de chargement */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Empêche le défilement horizontal */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Pour que le texte soit visible */
}

.loading-screen video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Place la vidéo derrière le contenu */
}

.loading-items {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2; /* Place le contenu au-dessus de la vidéo */
}

.loading-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.loading-item.active {
    opacity: 1;
}

#enter-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
}

.hidden {
    display: none;
}