/* ----- Introduction ---------------------*/
.page-intro {
  width: 90vw;
  max-width: 900px;
  margin: 8vh auto 3vh auto;
  color: #fff;
  text-align: left;
  font-family: "Figtree", sans-serif;
}
.page-intro h2 {
  font-size: clamp(1.8rem, 3vw, 2rem);
  margin: 6vw 0 4vw 0;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
}
.page-intro h3 {
  font-size: clamp(1rem, 1.8vw, 1.4rem);
  margin-bottom: 0.5em;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  letter-spacing: 0.02em;
}
.page-intro p {
  font-size: clamp(0.8rem, 1.8vw, 1rem);
  font-weight: 400;
  opacity: 0.85;
  margin: 0;
  text-align: justify;
}
section.mentions-legales-content {
margin-top: 5 vh;

}