/* ----- Introduction ---------------------*/
.page-intro h2 {
  margin: 6vw 0 4vw 0;
  text-align: center;
}
.page-intro p {
  font-size: var(--text-caption);
  opacity: 0.85;
  margin: 0;
  text-align: justify;
}
section.mentions-legales-content {
  margin-top: 5vh;
}

.mentions-legales-content h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: var(--text-h3);
  text-align: left;
}

.mentions-legales-content p.preserve-lines {
  line-height: 1.8;
  margin-bottom: 1.5em;
  text-indent: 2em; /* Ajout d'un retrait pour le premier mot de chaque paragraphe */
}

/* Style pour la liste Propriété Intellectuelle */
.propriete-intellectuelle-list {
  margin: 1.5em 0;
  padding-left: 1.5em;
  list-style-type: disc;
}

.propriete-intellectuelle-list li {
  margin-bottom: 1em;
  line-height: 1.6;
  text-align: justify;
}
