/* ----- Introduction ---------------------*/
.team-intro {
  width: 90vw;
  max-width: 900px;
  margin: 8vh auto 3vh auto;
  color: #fff;
  text-align: left;
  font-family: "Figtree", sans-serif;
}
.team-intro h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-intro h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  letter-spacing: 0.02em;
}
.team-intro p {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.85;
  margin: 0;
  text-align: left;
}