/* ------------------------ LES FONTS ------------------------------------------- */
@font-face {
  font-family: "Figtree";
  src:url("../font/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  src:url("../font/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src:url("../font/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src:url("../font/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@Font-face {
  font-family: "New Edge";
  src:url("../font/NewEdgeSoftPower4-LightRounded.otf") format("truetype");
  font-weight: Regular;
  font-style: Regular;
}

/* ------------------------ GENERAL ------------------------------------------- */
html, body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ 
  background-color: #050d1e; /* Fond noir */
}

body{
  width:100%;
  height:100vh;
}


.container{
  width:100%;
  height:100vh;
  overflow-y:scroll;
  overflow-x:hidden;
  scroll-snap-type:y mandatory;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Cacher la barre de défilement dans Firefox */
} 
.container::-webkit-scrollbar {
  display: none; /* Cacher la barre de défilement dans Chrome, Edge et Safari */
}
.hidden {
    display: none;
}
/* ------------------------ Visionner ------------------------------------------- */
.visionner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    z-index: 9999;
    display: none; /* Masque par défaut */
}

.visionner video{
  width:auto;
  height:80vh;
  max-width: 100%; /* Empêche la vidéo de dépasser la largeur de l'écran */
  max-height: 100%; /* Empêche la vidéo de dépasser la hauteur de l'écran */
  align-self: center; /* Centre la vidéo dans Flexbox */
  margin: auto; /* Ajoute une marge automatique pour garantir le centrage */
position: relative; /* Permet de centrer la vidéo */
  top: auto;
  left: auto;
}

.close-visionner {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* -------------------------- Transition --------------------------  */

#transition-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: #050d1e;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  transition: opacity 0.7s cubic-bezier(.4,0,.2,1);
}
#transition-overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* -------------------------- Portraits --------------------------  */
/* Conteneur principal */
.portraits-container {
    display: flex;
    flex-direction: row; /* Aligne les sections horizontalement */
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Empêche le débordement */
    transition: all 0.3s ease-in-out;
}

/* Sections individuelles */
.portrait-section {
    flex: 1; /* Chaque section prend un quart de la largeur */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    transition: flex 0.5s ease, filter 0.5s ease; /* Transition pour l'agrandissement et le flou */
}

/* Effet au survol */
.portrait-section:hover {
    flex: 2; /* La section survolée prend plus de place */
    filter: none; /* Supprime le flou */
}
.portraits-container.no-hover .portrait-section {
    filter: none; /* Supprime le flou si aucune section n'est survolée */
}


/* Floutage des autres sections */
.portrait-section:not(:hover) {
    filter: blur(5px); /* Applique un flou aux sections non survolées */
}

/* Couleurs différentes pour chaque section */
.section1 {
    background-color: #FF5733; /* Rouge orangé */
}

.section2 {
    background-color: #33FF57; /* Vert */
}

.section3 {
    background-color: #3357FF; /* Bleu */
}

.section4 {
    background-color: #FF33A1; /* Rose */
}

.portrait-section h2 {
    color: white;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    font-family: "Figtree", sans-serif;
    font-size: 2em;
    transition: transform 0.3s ease;
}

.portrait-section:hover h2 {
    transform: translateY(-40%); /* Légère animation du texte au survol */
}